*::before,
*::after
{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}


body
{
    background-color: azure;
    min-height: 90vh;
}

.item-container 
{
    display:flex;   /*Once declared, horizontal left to right = main axis*/
    flex-direction: column;
    

    justify-content: space-evenly;
    min-height: 30vh;


    margin: 1rem;

    background-color:rgb(230, 255, 210);

    border: 5px solid black;
    border-color: olive;
}

.item 
{
    color:olive;
    background-color: bisque;
    padding: 2rem;
    border: 5px solid black;
    border-radius: 4px;
    border-color: olive;
}

